@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-attachment: fixed;
    background-color: black;
    overflow-x: hidden;
    font-family: "Anton", serif;
    height: 100vh;
}



main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-size: 4rem;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: rgba(0, 0, 0, 0.1); /* só para dar contraste */
    cursor: pointer;
}

.products:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.products img {
    width: 80%;
    height: auto;
}

.products h2 {
    font-size: 1.8rem;
    margin: 10px 0;
    color: #fafafa;
    font-weight: 100;
    cursor: pointer;
}

.products p {
    font-size: 1rem;
    color: #868686;
    padding: 0 10px;
    margin: 10px 0;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    background-color: #080a9b;
    color: #fff;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    font-family: "Bebas Neue", serif;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0074d9;
}

.background video {
    position: relative;
    width: 99vw;
    height: 100vh;
    object-fit: cover;
    box-shadow: 0px 2px 5px black;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.propagated video {
    display: inline-flex;
    width: 99vw;
    height: 100vh;
    object-fit: cover;
    box-shadow: 0px 2px 5px black;
    z-index: -15;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



footer {
    background-color: #000000; /* Cor de fundo do rodapé */
    color: #EDF1F7; /* Cor do texto */
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

footer h3 {
    font-size: 60px;
    margin-right: 20px;
    color: #f8f9fa;
    font-weight: bold;
    font-family: "Anton", serif;
    text-transform: uppercase;
    animation: piscar 2s infinite; /* Animação com duração de 1 segundo, repetindo infinitamente */
}


.navigation_social {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os ícones */
    margin: 15px 0;
}

.navigation_social svg {
    width: 20px;
    height: 32px;
    fill: #EDF1F7;
    cursor: pointer;
    transition: transform 0.3s ease, fill 0.3s ease;
  
}

.navigation_social svg:hover {
    transform: scale(1.3); /* Efeito de aumento ao passar o mouse */
    color: #0000ff
}

footer p {
    margin-top: 10px;
    font-size: 15px;
    color: #004299;
    text-transform: uppercase;
    font-weight: bolder;
    margin-right: 40px;
}

footer ul {
    list-style: none; /* Remove marcadores de lista */
    margin: 20px 0 ;
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaçamento entre os itens */
}

footer ul li {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem;
}

footer ul li a {
    text-decoration: none;
    color: #EDF1F7;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #070586; /* Cor do link ao passar o mouse */
}


